<h2>Selectionnez la voiture que vous souhaitez rendre : </h2>
<ul class="cars">
  <li *ngFor="let car of cars" (click)="onSelect(car)">
    {{car.model}}: {{car.plateNumber}} <br/> voiture louée : {{car.rented}}  
  </li>
</ul>
<div *ngIf="selectedCar">
  <h2>Selected car: {{selectedCar.model | uppercase}}
  </h2>
  <button (click)="gotoDetail()">Confirmez que c'est votre voiture à rendre</button>
</div>
