<div *ngIf="car">
  <h2>Rental options for {{car.model}}</h2>
  <ul>
  	<li>model: {{car.model}}</li>
  	<li>price/day: {{car.price}} euros</li>
  	<li>plate number: {{car.plateNumber}}</li>
  	<li>Choose the number of rental days: <input type="number" required min="1" [(ngModel)]="car.numberOfDays" /></li>
  </ul>
  <button (click)="rent(car)">Louer la voiture!</button>
  <button (click)="cancelRental(car)">Rendre la voiture !</button>
  <button (click)="goBack()">Return to the main menu</button>
  <label>Rented: {{car.rented}}</label>
</div>


